* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
#header {
	width: 100%;
}
#header-top {
	font-size: 10pt;
	height: 20px;
}
#header-top #links {
	margin-left: 10px;
	border-right: 2px solid #DDD;
	padding-right: 10px;
	float: left;
	list-style: none;
}
#header-top #links li {
	height: 20px;
	float: left;
	padding: 0 5px;
}
#header-top #links li.selected {
	background-color: #FFF;
}
#header-top #links li a {
	text-decoration: none;
	color: #444;
}
#header-top #links li a:hover {
	text-decoration: underline;
	color: #000;
}
#header-top .social {
	margin-left: 10px;
	float: left;
}
#header-top .follow {
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
#header-top #follow-facebook:hover {
	background-color: #3B5998;
}
#header-top #follow-twitter:hover {
	background-color: #00ACED;
}
#header-top #follow-google:hover {
	background-color: #DD4D38;
}
#header-top #userinfo {
	list-style: none;
	float: right;
}
#header-top #userinfo li {
	margin-right: 20px;
	float: right;
}
#header-top #userinfo li a {
	color: #444;
	text-decoration: none;
}
#header-top #userinfo li a:hover {
	color: #FFF;
	text-decoration: underline;
}

#header-menu {
	background-color: #DDD;
	height: 35px;
}
#header-menu .pagetitle {
	margin-left: 10px;
	float: left;
	font-size: 20pt;
	font-style: italic;
	text-shadow: 2px 2px 2px #444;
}
#header-menu #sections {
	position: absolute;
	left: 150px;
	margin-top: 8px;
	list-style: none;
	float: left;
}
#header-menu #sections li {
	padding-bottom: 3px;
	margin-right: 20px;
	float: left;
}
#header-menu #sections li a {
	color: #444;
	text-decoration: none;
}
#header-menu #searchform {
	margin-top: 5px;
	list-style: none;
	float: right;
}
#header-time {
	background-color: #FFF;
	height: 35px;
}
#header-time #time-snap {
	position: absolute;
	left: 150px;
	margin-top: 8px;
	list-style: none;
	float: left;
}
#header-time #time-snap li {
	padding-bottom: 3px;
	margin-right: 20px;
	float: left;
}
#header-time #time-snap li.selected {
	border-bottom: 5px solid #DDD;
}
#header-time #time-snap li a {
	text-decoration: none;
}
#header-time #time-snap li a:hover {
	color: #444;
}
#footer {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
